/* .box{
position: static;
width: 150px;
height: 80px;
background-color: lightgray;
top: 10px;
right: 50px;
} */

.box{
    width: 150px;
    height: 80px;
    background-color: lightgreen;
    border: 2px solid black;
    position: relative;
    top: 20px;
    left:10px ;
    text-align:unset;
}

.parent{
    width: 250px;
    height: 150px;
    background-color: lightblue;
    position: relative;
    border: 2px solid black;
}
.child{
    width: 120px;
    height: 60px;
    background: red;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: centre;
}
.btn{
    position: fixed;
    bottom:20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor:pointer;
}
.title{
    background-color: yellow;
    padding: 10px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid black;
}