/* :link - selects the unvisited links */
a:link{
    color:yellow
}

a:visited{
    color:blue
}

.anchor{
    color: red;
}

a:active{
    color: green;
}

a:hover{
    color: brown
}

.btn{
    background-color: purple;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    padding: 15px 60px;
    font-weight: 800;

}
.btn:hover{
    color: black;
    background-color: purple;
    border: 1px solid;
    background-color: white;
    cursor: pointer;
}
input:focus{
    outline: 1px red;
    border: 2px solid lightblue;
    border-radius: 5px ;
}
p:first-child{
    color: crimson;
}

p:last-child{
    color: plum;
}
/* odd list item */
li:nth-child(2n+1){
    color: green;
}
/* even list item */
li:nth-child(2n){
    color: blueviolet;
}
li:nth-child(5){
    color: purple;
}