/* External CSS: using link tag in head tag */
h3{
    color: green;
    border: 1px solid lightgreen;
}
h1{
    color: green;
    border: 1px solid lightgreen;
}
div{
    width:200px;
    height: 100px;
    border: 1px solid black;
    background: pink;
    padding: 10px;
    margin: 2px;
    color: blue;
    text-align: center;
    font-size: 40px;/*font length*/
    font-weight: 800;/*font boldness*/
    float:right; /*to bring the content to left or right*/

}