/* .box{
    width:200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
}
.red{
   background-color: red;
   z-index: 2;
}
.green{
    background-color: green;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.blue{
    background-color: blue;
    top: 30px;
    left: 30px;
    z-index: 0;
} */
/* when pos abolute is given you blue box but it is stack
blue
green
red
they are stacked
the default z-index is 0 (auto) (default) so it goes back
now green z-index is 1 it is above blue
and red z-index is 2 it is above red
z-index deals with position
example: To overlap text on image
 */
/* .wrapper{
    position: relative;
}

 .wrapper p{
    position: absolute;
    z-index: 10;
    top: 20px;
    color: white;
 } */
  .paper{
    background-color: #000000;
    height: 50px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    
  }
  *{
    margin: 0;
    padding: 0;
  }

  .paper a{
    color: white;
    text-decoration: none;
  }
  img{
    position: absolute;
    height: 1000px;
  }